 
 <% layout("/layouts/boilerplate") %>
    <body>
    <div class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4" style="color: #fe424d;">Error <%= status %></h1>
            <p class="lead"><%= message %></p>
            <a href="/listings" class="btn mt-3 text-white" style="background-color: #fe424d;">Back to Listings</a>
        </div>
        </div>
    </div>